@use "../util/" as *;

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;

  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(rem(10)) !important;
  -webkit-backdrop-filter: blur(rem(10));
  border-bottom: rem(1) solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 rem(4) rem(6) rem(-1) rgba(0, 0, 0, 0.03);
  animation: moveInDown 0.3s ease-out;
}

@keyframes moveInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
